<p>
  page-register works!
</p>

<div class="row mt-4">

	<div class="col-md-6 mx-auto text-center">

		<div class="card text-white bg-primary">

			<h4 class="card-title mt-4">SIGN UP</h4>

			<div class="card-body">

				<form (submit)="onSubmitAddUser()">

					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" aria-describedby="emailHelp" placeholder="Escribe tu dirección de correo electrónico.">
						<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Escribe tu contraseña.">
					</div>

					<input type="submit" name="" value="REGISTRARME" class="btn btn-primary">

				</form>

			</div>

		</div>

	</div>

</div>
