<!--

<p>
  page-register works!
</p>

-->

<div class="row mt-4">
	
	<div class="col-md-6 mx-auto text-center">

		<div class="card text-white bg-primary">
			
			<h4 class="card-title mt-4">SIGN IN</h4>
			<div class="card-body">
				
				<form (submit)="onSubmitAddUser()">
					
					<div class="form-group">

						<label for="email">Email</label>
						
						<input type="email" id="email" class="form-control" aria-describedby="emailHelp" placeholder="Escribe tu dirección de correo electrónico.">
						
						<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

					</div>

					<div class="form-group">

						<label for="exampleInputPassword1">Password</label>
						
						<input type="password" id="password" class="form-control" placeholder="Escribe tu contraseña.">
					
					</div>

					<input type="submit" name="" value="REGISTRARME" class="btn btn-primary">

				</form>

			</div>

		</div>
		
	</div>

</div>

<!--

<div class="row">
	
	<div class="col-md-6 mx-auto mt-2 text-center">
		
		<div class="card text-white bg-primary">
			
			<div class="card-body">
				
				<button class="btn btn-lg btn-facebook btn-sm"><i class="fa fa-facebook"></i> Facebook</button>
				<button class="btn btn-lg btn-google btn-sm"><i class="fa fa-google-plus"></i> Google</button>

			</div>
		</div>
	</div>
</div>

-->