<p>
  page-graphs works!
</p>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<!-- despues de haber instalado amcharts-->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!-- HTML -->
<div>

  <div class="card body" >

    <h1>PELICULAS MEJOR VALORADAS</h1>
    <!--<div id="chartdiv" style="width: 70%; height: 400px; background-color: #FFFFFF;" ></div>-->
    <!--<pre>{{movies | json}}</pre>-->
    <div id="chartdiv"></div>

    <!--<script>
      var ref = db.collection<Item>( 'peliculascinema' );
      ref.on("child_added")
    <script>-->

  </div>

</div>
