<p>
  page-votes works!
</p>

<!--

<-- SOLO SI  --
<div *ngIf="movie | async as m">

	<h1>{{m.Titulo}}</h1>
	<img [src]="m.wallpaper" width="140px">
	<h5>{{m.Sinopsis}}</h5>

<-- COMPONENTE REVISION DE ESTRELLAS --
	<app-star-review [movieId]="movieId" [userId]="userId"></app-star-review>

</div>

-->

<!-- PÁGINA PARA VOTAR, CONTENIDO YA DENTRO DE LA APLICACIÓN -->
<div>

	<div class="card body">

<!-- TÍTULO DE LA SECCIÓN -->
	<h1 class="display-3">¿QUÉ TE PARECIÓ ESTA PELÍCULA?</h1>

  <br><br>


  <h1 class="display-3">PELICULA: <!--{{ doc.Titulo }}--></h1>


  <br><br>

	<!--<img [src]="pelicula.wallpaper" width="140px">-->


  <h1>SINOPSIS: </h1>
	<p class="lead">
		<!--{{doc.Sinopsis}}-->
	</p>

  <br><br>

	<hr class="my-4">

<!--
	<p> VALORACIÓN: {{item.promedio}}</p>
-->

  <fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" />
      <label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <!--<input type="radio" id="star4half" name="rating" value="4 and a half" />-->
    <input type="radio" id="star4half" name="rating" value="4.5" />
      <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" />
      <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <!--<input type="radio" id="star3half" name="rating" value="3 and a half" />-->
    <input type="radio" id="star3half" name="rating" value="3.5" />
      <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" />
      <label class = "full" for="star3" title="Meh - 3 stars"></label>
    <!--<input type="radio" id="star2half" name="rating" value="2 and a half" />-->
    <input type="radio" id="star2half" name="rating" value="2.5" />
      <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" />
      <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <!--<input type="radio" id="star1half" name="rating" value="1 and a half" />-->
    <input type="radio" id="star1half" name="rating" value="1.5" />
      <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" />
      <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <!--<input type="radio" id="starhalf" name="rating" value="half" />-->
    <input type="radio" id="starhalf" name="rating" value="0.5" />
      <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
  </fieldset>


	<!-- <p class="lead">

		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

	</p> -->

</div>
