<p>
  page-not-found works!
</p>

<!-- PÁGINA "NOT FOUND" CUANDO NO SE ENCUENTRA UNA RUTA ESPECIFICA DE LA APLICACIÓN -->
<div class="row mt-4">

	<div class="col-md-6 mx-auto text-center" >

		<div class="card">
			<!-- TÍTULO DEL MENSAJE DE ERROR -->
			<h2>ERROR 404</h2>

			<!-- DESCRIPCIÓN DEL ERROR -->
			<p class="text-danger">
				LO SENTIMOS, NO ENCONTRAMOS ESTA PÁGINA.
			</p>

		</div>

		<div class="card-body">

			<!-- BOTÓN PARA REGRESAR A LA PÁGINA PRINCIPAL -->
			<a href="/" class="btn btn-primary btn-lg">
				<i class="fa fa-home"></i>REGRESAR A LA PÁGINA PRINCIPAL
			</a>

		</div>

	</div>

</div>
